@use "../abstract" as *;

div.frame {
    border-image-repeat: repeat;
    border-image-width: 12px;
    border-image-slice: 65;
    padding: 12px;

    background: linear-gradient(to bottom, white 20%, rgb(237, 237, 237));
    background-repeat: no-repeat;

    &[frame-type="1"] {
        border-image-source: url('/images/frame_1.png');
        border-image-slice: 121;
    }
    &[frame-type="2"] {
        border-image-source: url('/images/frame_2.png');
        border-image-slice: 94;
    }
    &[frame-type="3"] {
        border-image-source: url('/images/frame_3.png');
        border-image-slice: 74;
    }
    &[frame-type="4"] {
        border-image-source: url('/images/frame_4.png');
        border-image-slice: 122;
    }
    &[frame-type="5"] {
        border-image-source: url('/images/frame_5.png');
        border-image-slice: 59;
    }
    &[frame-type="6"] {
        border: unset;
        border-image-source: unset;
        border-image-slice: unset;
        border-image-width: unset;
        padding: 1rem;
    }

    &:not([frame-type="null"]) {
        box-shadow: 0px 5px 8px color(background2);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
    }
}

div.bigger-text {
    background: linear-gradient(to bottom, white 20%, rgb(237, 237, 237));
    background-repeat: no-repeat;

    width: 100%;
    flex: 1 1 auto;
    padding: 2rem;
}
div.plaque {
     background: linear-gradient(to bottom, white 20%, rgb(237, 237, 237));
    background-repeat: no-repeat;

    font-size: text(regular);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
}